* {
    margin: 0;
    padding: 0;
}
.cont {
    width: 400px;
    height: 500px;
    outline: solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    flex-direction: column;
}
.cnt1 {
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: url(../img/fon.jpg);
}
.cnt2 {
    margin: 10px;
}
h2 {
    background-color: rgb(250, 240, 240);
    color: rgb(14, 6, 20);
}